*{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
h1{
    background-color:rgba(0, 255, 255, 0.773) ;
    text-align: center;
    padding: 1rem 0;
    font-size: xx-large;
}
.choices{
    width: 60%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    text-align: center;
}
.choice{
    border-radius: 50%;
    height: 130px;
    width: 130px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.choice:hover{
    border: 2px solid black;
    opacity: 50%;
    cursor: pointer;
    
}
img{
    border-radius: 50%;
    height: 130px;
    width: 130px;
    object-fit: cover;
}
.scores{
    display: flex;
    width: 40%;
    height: auto;
    margin: auto;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    text-align: center;

}
.score{
    width: 75px;
    height: 125px;
    font-size: 2rem;
}
#per_score{
    height: 70%;
    font-size: 5rem;
}
#comp_score{
    height: 70%;
    font-size: 5rem;
}
.msg-container{
    margin-top: 3rem;
    font-size: 2rem;
    border-radius: 7%;
}
#msg{
    background-color: #081b31;
    color: aliceblue;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
